
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #161616;
    color: #D7CEC7;
    font-family: "Poppins";
}

ul{
    list-style-position: inside;
    display: inline-block;
    text-align:left;
}

h1{
    margin-top:0px;
    margin-bottom: 10px;
}


h3{
    margin:0px;
    color: #D7CEC7;
}

h4{
    margin-top:0px;
    margin-bottom: 10px;
}

#main {
    padding: 20px;
    font-size: 150%;
    line-height: 1.4;
}

a {
    color: #32763F;
    text-decoration: none;
}

a:visited {
    color: #9FC080;
    text-decoration: none;
}

img{
    padding: 15px;
}

.headshot{
    float:right;
    height: 360px;
    padding-top:0px;
}

input {
  width:70%;
  color: white;
  background:gray;
  padding: 4px;
  border:1px solid white;
}

.redacted{
    background-color: #D7CEC7;
    color: #D7CEC7;
}

.half{
    width: 48%;
    float: left;
}

nav a{
    display: block;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgba(21, 22, 22, 0.514);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "Poppins";
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(0, 0, 0);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    left:0;
    top:0;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}